a { 
	color:#333;
}
a:hover {
	color:#e22d2d;
}
body {
	background:#fff;
	color:#333;
}
#logo, #logo a {
	color:#999;
}
#navigation, #slideshow, #sliderin, .post-thumbnail li img, #footer, #navigation ul ul, .gallery li, .widget li {
	border-color: #e3e3e3;
}
/* nav */
#navigation ul ul {
	border-top-color:#fff;
}
#navigation a:hover, #navigation li.current_page_item a, #navigation li.current-menu-item a {
	color:#e22d2d;
}
#navigation ul li:hover a, #navigation ul li:hover li a:hover, #navigation li:hover li.current-menu-item a {
	color:#e22d2d;
}
#navigation ul li:hover li a {
	color:#333;
}
/* nav */

#showcase{
	background:url(light/bg_showcase.png) no-repeat center 150px;
}
#slideshow, #sliderin, #navigation ul ul {
	background:#fff;
}
.gallery li:hover {
	background:#e3e3e3;
}
#comments .txtb .arrow {
	background:url(light/arrow_comment.png) no-repeat;
}
#comments .txtb{
	background:#e3e3e3;
}
#comments p{
	color:#333;
}